body {
  background-color: rgb(8, 158, 223);
  margin: 0;
}

.header {
  margin: 0;
  height: 80px;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0;
  background-color: rgb(57, 92, 229);
  width: 100%;
  height: 150px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 45px 76px;
  text-decoration: none;
  font-size: 45px;
  color: black;
  font-weight: bold;
  border-right: 1px solid white;
}

nav a:last-child {
  border-right: none;
}

nav a.active {
  background-color: white;
}
.main{
  display: flex;
}
h1 {
  font-size: 35px;
  color: black;
  margin-left: 25px;
}
.left_side{
  width: 300px;
  height: 100%;
  border-left: 2px solid black;
  color: black;
  font-size: 35px;
}
.inputbox {
  display: block;
  align-items: center;
  margin-bottom: 16px;
  border-left: 2px solid black;
  width: auto;
  height: 100%;
  font-size: 35px;
}
form {
  width: 600px; 
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  flex: 1; 
  text-align: right;
}

input[type="text"] ,select{
  flex: 2; 
  padding: 5px;
  height: 25px;
}
select{
  flex: 2; 
  padding: 5px;
  height: 25px;
  width: 150px;
}
textarea {
  flex: 2;
  height: 100px; /* Set height of the textarea */
}
.box {
  flex: 2; 
}

.box input {
  margin-right: 5px;
}
input[type="submit"]{
  margin-left: 1000px;
  font-size: 25px;
  height: 35px;
  width: auto;
  color: black;
  background-color: rgb(112, 112, 112);
}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(67, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}
